$podcast_green: rgb(12, 230, 130);
$podcast_white: rgb(255, 255, 255);
$podcast_black: rgb(26, 23, 26);
$podcast_trueblack: rgb(0, 0, 0);
$podcast_grey: rgb(159, 159, 159);
$podcast_lightgrey: rgb(200, 200, 200);
$podcast_darkgrey: rgb(127, 126, 127);
$podcast_lightestgrey: rgb(245, 245, 246);
$podcast_lightergrey: rgb(217, 217, 217);
$podcast_purple: rgb(69, 42, 79);